<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.app.MotomoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotomoApp"
        tools:targetApi="31">
        <activity
            android:name=".view.GpsActivity"
            android:exported="false" />
        <activity
            android:name=".view.CashPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreenProcessingPayment"
            android:exported="false" />
        <activity
            android:name=".view.CartSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".view.PaymentDone"
            android:exported="true" />
        <activity
            android:name=".models.MyGiftCards"
            android:exported="false" />
        <activity
            android:name=".view.MyCreditCards"
            android:exported="true" />
        <activity
            android:name=".view.SelectPaymentMethodActivity"
            android:exported="true" />
        <activity
            android:name=".view.ItemDetalleActivity"
            android:exported="true" />
        <activity
            android:name=".view.inicio.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.OrderActivity"
            android:exported="true" />
        <activity
            android:name=".view.PaymentMethodActivity"
            android:exported="true" />
        <activity
            android:name=".view.CreditCardActivity"
            android:exported="true" />
        <activity
            android:name=".view.GiftCardActivity"
            android:exported="true" />
        <activity
            android:name=".view.CashActivity"
            android:exported="true" />
        <activity
            android:name=".view.inicio.MenuInicioActivity"
            android:exported="true" />


        <receiver android:name=".receivers.NotificationReceiver"
            android:exported="true"/>
        <service
            android:name=".firebase.FirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/mottomologo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="DEFAULT_CHANNEL" />
    </application>

</manifest>